<nav class="navbar navbar-light burger-add">
    <a class="navbar-brand" href="/">Eat the Burger</a>
    <form class="form-inline burger-form" action="/" method="POST">
        <p>Add a new burger: </p>
        <div class="form-group">
            <input type="text" id="name" placeholder="Burger Name" name="name">
            <input type="hidden" name="devoured" value="false">
        </div>
        <button class="btn btn-warning" type="submit">Add Burger</button>
    </form>
</nav>

<div class="container">
    <div class="row burger-section">
        <div class="col-lg-6">
            <h2>Burgers</h2><hr>
            <ul class="burger-list">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}} {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btn btn-outline-dark burger-devour" type="submit">Devour Burger</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-lg-6">
            <h2>Devoured Burgers</h2><hr>
            <ul class="burger-list">
                {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    {{this.id}} {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>